<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center mb-4">Registrar-se</h2>
        <% if (query.error==='username_exists' ) { %>
            <div class="alert alert-danger">
                Este nome de usuário já está em uso.
            </div>
            <% } %>
                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                    <div class="text-center mt-3">
                        <a href="/login">Já tenho conta</a>
                    </div>
                </form>
    </div>
</div>